$main-font: "Open Sans", "Arial", sans-serif;

$desktop: 1024px;

$white: #ffffff;
$black: #000000;
$dark: #1A212F;
$light-grey: #F5F5F9;
$grey: #D7D9DF;
$main-text: #48494D;
$accent: #D12136;
$accent-hover: #BD0C21;
$warning: #FF0000;